
body {
  background-color: black;
}


header {
  background-color: black;
  color: lightgoldenrodyellow;
  text-align: center;
}

h1, h2, h5 {
  text-align: center;
}



#authors .x.axis text {
  display:none;
}

.col-sm-6, .col-sm-12 {
  background-color: lightgoldenrodyellow;
  border: 10px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px
}


#seriesOrNot {
  width: 100%;
}

#numberOfSeries {
  text-align: center;
  margin: 0 auto;
  border: 3px double black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.search-collection {
  background-color: lightgoldenrodyellow;
  min-height: 5vh;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
}

.btn-secondary {
  float: left;
}