/* Backgrounds */

body {
  background-color: black;
  margin: 0;
}

.home a i{
  color: black;
  top: 10px;
  left: 10px;
  padding: 0 10px;
  font-size: 30px;
  position: fixed;
  z-index: 1;
}

/* Header */

header, footer {
  background-color: black;
  color: lightgoldenrodyellow;
  text-align: center;
  width: 100vw;
  padding: 0;
  margin:0;
}

.col-sm-6,
.col-sm-12,
nav a,
table td,
table th {
  background-color: lightgoldenrodyellow;
  border: 10px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

nav a {
  border: 10px double black;
  padding: 0 5px;
  text-decoration: none;
}

/* Alignment */

h2,
h5 {
  text-align: center;
}

p {
  clear: both;
}

/* Charts */
.chart{
  overflow: auto;
}

#authors-div {
  display: none;
}

#authors .x.axis text,
#genres g .pie-label-group text {
  display: none;
}

#seriesOrNot {
  width: 100%;
}

#numberOfSeries {
  text-align: center;
  margin: 0 auto;
  border: 3px double black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}

#all-books-div {
  padding: 0;
  margin: 0;
}
/*Table*/

table {
  text-align: left;
  background-color: black;
  border-collapse: separate;
  border: 1px;
  width: 100%;
  margin: 0;
  padding: 0
}



table th {
  text-transform: uppercase;
  font-family: "Cabin Sketch", cursive;
  border: 0;
  padding: 5px;
}

table td {
  text-transform: capitalize;
  border: 0;
  padding: 5px
}

/*Reset*/

#reset {
  text-align: center;
  margin: 0 auto;
}

#reset a {
  text-decoration: none;
}

/*Responsiveness */

@media screen and (min-width: 1200px) {

  h1 {
    font-size: 200px;
  }
  h2 {
    font-size: 60px
  }
  h5 {
    font-size: 30px
  }
  p, th, td {
    font-size: 25px;
    padding: 5px;
  }
  li {
    font-size: 20px
  }
  .note {
    font-size: 18px;
    text-align: justify;
  }
  .chart {
    overflow-x: hidden;
  }
  #authors-div {
    display: block;
  }
}