
body {
  background-color: black;
}


.header h1 {
  background-color: black;
  color: lightgoldenrodyellow;
  text-align: center;
  font-size: 200px;
}

/* Font sizes */

h2, h5 {
  text-align: center;
}

h2 {
  font-size: 60px
}

h5 {
  font-size: 30px
}

p {
  font-size: 25px;
  clear: both;
}

li {
  font-size: 20px
}

.note {
  font-size: 18px;
  text-align: justify;
}


#authors .x.axis text {
  display:none;
}

.col-sm-6, .col-sm-12 {
  background-color: lightgoldenrodyellow;
  border: 10px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px
}


#seriesOrNot {
  width: 100%;
}

#numberOfSeries {
  text-align: center;
  margin: 0 auto;
  border: 3px double black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.search-collection {
  background-color: lightgoldenrodyellow;
  min-height: 5vh;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
}

